<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Hello World - Input Form</title>
</head>
<body>

<!--<form th:action="@{/mvc/processForm}" method="GET">-->

<!-- v1
<form th:action="@{/mvc/processForm}" method="POST"> &lt;!&ndash; URL + HTTP method &ndash;&gt;
    <input type="text" name="studentName" placeholder="What's your name?"/>
    <input type="submit"/>
</form>
-->

<!-- v2 -->
<form th:action="@{/mvc/processForm/v2}" th:object="${student}" method="POST">
    <!-- *{firstName} = ${student.firstName} -->
    First name: <input type="text" th:field="*{firstName}"/>
    <br><br>
    <!-- when form is loaded, fields are populated by call student.getLastName() -->
    Last name: <input type="text" th:field="*{lastName}"/>
    <br><br>

    Country:
    <select th:field="*{country}">
        <option th:each="countryElement : ${countries}" th:value="${countryElement}" th:text="${countryElement}"/>
    </select>
    <br><br>

    <input type="submit" value="Submit"/>
</form>

</body>
</html>